In [2]:
import pandas as pd

In [17]:
df = pd.read_csv('train.csv', index_col=0)
df.head()

,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
User_ID,,,,,,,,,,,
1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [18]:
len(df['Product_ID'].value_counts())

3631

In [19]:
# looks like Product id is better to be in index
df = pd.read_csv('train.csv', index_col=[0,1])
df.head()

                   Gender   Age  Occupation City_Category  \
User_ID Product_ID
1000001 P00069042       F  0-17          10             A
        P00248942       F  0-17          10             A
        P00087842       F  0-17          10             A
        P00085442       F  0-17          10             A
1000002 P00285442       M   55+          16             C

                   Stay_In_Current_City_Years  Marital_Status  \
User_ID Product_ID
1000001 P00069042                           2               0
        P00248942                           2               0
        P00087842                           2               0
        P00085442                           2               0
1000002 P00285442                          4+               0

                    Product_Category_1  Product_Category_2  \
User_ID Product_ID
1000001 P00069042                    3                 NaN
        P00248942                    1                 6.0
        P00087842                   12                 NaN
        P00085442                   12                14.0
1000002 P00285442                    8                 NaN

                    Product_Category_3  Purchase
User_ID Product_ID
1000001 P00069042                  NaN      8370
        P00248942                 14.0     15200
        P00087842                  NaN      1422
        P00085442                  NaN      1057
1000002 P00285442                  NaN      7969

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 550068 entries, (1000001, P00069042) to (1006039, P00371644)
Data columns (total 10 columns):
Gender                        550068 non-null object
Age                           550068 non-null object
Occupation                    550068 non-null int64
City_Category                 550068 non-null object
Stay_In_Current_City_Years    550068 non-null object
Marital_Status                550068 non-null int64
Product_Category_1            550068 non-null int64
Product_Category_2            376430 non-null float64
Product_Category_3            166821 non-null float64
Purchase                      550068 non-null int64
dtypes: float64(2), int64(4), object(4)
memory usage: 44.1+ MB

In [26]:
df_filled = df.fillna(0)

In [27]:
train_df = pd.get_dummies(df_filled)
train_df.columns

Index([u'Occupation', u'Marital_Status', u'Product_Category_1',
       u'Product_Category_2', u'Product_Category_3', u'Purchase', u'Gender_F',
       u'Gender_M', u'Age_0-17', u'Age_18-25', u'Age_26-35', u'Age_36-45',
       u'Age_46-50', u'Age_51-55', u'Age_55+', u'City_Category_A',
       u'City_Category_B', u'City_Category_C', u'Stay_In_Current_City_Years_0',
       u'Stay_In_Current_City_Years_1', u'Stay_In_Current_City_Years_2',
       u'Stay_In_Current_City_Years_3', u'Stay_In_Current_City_Years_4+'],
      dtype='object')

In [28]:
from sklearn.model_selection import train_test_split
X_train,X_test, Y_train, Y_test = train_test_split(train_df[train_df.columns.difference(['Purchase'])], train_df['Purchase'], test_size=0.25)

In [29]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(max_depth=5, random_state=123)
regr.fit(X_train, Y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=5,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=123, verbose=0, warm_start=False)

In [33]:
from sklearn.metrics import mean_squared_error
Y_pred = regr.predict(X_test)
mean_squared_error(Y_test, Y_pred)

10772780.295914225